@use "colors";
@use "fonts";


.news {
    display: flex;
    flex-direction: column;

    &__block {
        display: flex;
        flex-direction: row;
        gap: 50px;
        flex-wrap: wrap;
    }

    &__content {
        background-image: colors.$button-color;
        border-radius: 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        padding: 15px;
        flex-basis: calc(50% - 25px); // Přizpůsobení pro mezeru gap

        @media (max-width: 768px) {
          flex-basis: 100%;
        }

        & h3 {
            margin-top: 10px;
            font-size: 15px;
        }

        & p {
            font-size: 13px;
        }
    }
    
}