---
layout: layouts/layout-grant.njk
---


<aside class="aside">
    
    <div class="aside__form">

        <ul class="aside__form-list">
            <h3>Formuláře k dotaci</h3>
            <li><a href="/downloads/formular_zadosti.docx" download>Formulář žádosti</a></li>
            <li><a href="/downloads/financni_vyporadani.docx" download>Formulář finančního vypořádání</a></li>
        </ul>

    </div>

    <div class="aside__contact">

        <h3>Poradí vám</h3>
        {% include "partials/admins/admin-1.njk" %}

    </div>
    
</aside>


<div class="grant-content">

    <h1>Podpora sportovních akcí</h1>
    
    <article>
    
        {% include "partials/grants-data/program-data.njk" %}
        
        <h2>Okruh způsobilých žadatelů</h2>
        <p>
            Žadatelem o dotaci může být právnická osoba, jejímž předmětem činnosti je oblast sportu, a fyzická osoba podnikající v oblasti sportu. Žadatelem nemůže být územně samosprávný celek a jím zřizovaná organizace. Žadatel může žádat o dotaci pouze na akce s celkovým rozpočtem přesahujícím 300 000 Kč.
        </p>
        
        <h2>Účel a důvod podpory</h2>
        <p>
            Dotační program se zřizuje za účelem podpory významných sportovních akcí neziskového charakteru.
        </p>
        
        <p>
            Důvodem vyhlášení dotačního programu je zajištění podmínek pro sport, zejména zabezpečovat rozvoj sportu pro všechny a přípravu sportovních talentů včetně zdravotně postižených občanů.
        </p>
        
        <a class="button" href="/downloads/podminky_dp.docx" download>Úplné znění podmínek dotačního programu</a>
        
    </article>
    
</div>