---
layout: layouts/layout-grant.njk
---

<aside class="aside">
    
    <div class="aside__form">

        <ul class="aside__form-list">
            <h3>Formuláře k dotaci</h3>
            <li><a href="/downloads/formular_zadosti.docx" download>Formulář žádosti</a></li>
            <li><a href="/downloads/financni_vyporadani.docx" download>Formulář finančního vypořádání</a></li>
        </ul>

    </div>

    <div class="aside__contact">

        <h3>Poradí vám</h3>
        {% include "partials/admins/admin-2.njk" %}

    </div>
    
</aside>

<div class="grant-content">
    
    <h1>Podpora sportovní infrastruktury profesionálního sportu</h1>
    
    <article>
    
        {% include "partials/grants-data/program-data.njk" %}
        
        <h2>Okruh způsobilých žadatelů</h2>
        <p>
            Žadatelem o dotaci může být právnická osoba se sídlem na území Krokových Varů, jejímž předmětem činnosti je oblast sportu a která působí v oblasti profesionálního sportu (prvních dvou nejvyšších soutěžích).
        </p>
        
        <h2>Účel a důvod podpory</h2>
        <p>
            Dotační program se zřizuje za účelem podpory činnosti žadatelů působících v oblasti profesionálního sportu (prvních dvou nejvyšších národních soutěží) a zabývají se pravidelnou činností dospělých ve vrcholovém sportu.
        </p>
        
        <p>
            Důvodem vyhlášení dotačního programu je zájem vytvářet podmínky pro rozvoj vrcholového sportu a zabezpečovat jeho finanční podporu.
        </p>
        
        <a class="button" href="/downloads/podminky_dp.docx" download>Úplné znění podmínek dotačního programu</a>
        
    </article>

</div>