---
layout: layouts/layout-grant.njk
---

<aside class="aside">
    
    <div class="aside__form">

        <ul class="aside__form-list">
            <h3>Formuláře k dotaci</h3>
            <li><a href="/downloads/formular_zadosti.docx" download>Formulář žádosti</a></li>
            <li><a href="/downloads/financni_vyporadani.docx" download>Formulář finančního vypořádání</a></li>
        </ul>

    </div>

    <div class="aside__contact">

        <h3>Poradí vám</h3>
        {% include "partials/admins/admin-3.njk" %}

    </div>
    
</aside>

<div class="grant-content">
    
    <h1>Podpora přípravy účastníků olympiády dětí a mládeže</h1>
    
    <article>
    
        {% include "partials/grants-data/program-data.njk" %}
        
        <h2>Okruh způsobilých žadatelů</h2>
        <p>
            Žadatelem o dotaci může být právnická osoba, která zajišťuje přípravu a nominaci pro příslušný sport v rámci výpravy Krokových Varů na Hrách olympiády dětí a mládeže.
        </p>
        
        <h2>Účel a důvod podpory</h2>
        <p>
            Dotační program se zřizuje za účelem podpory sportovní činnosti dětí a mládeže na Hrách olympiády dětí a mládeže ČR.
        </p>
        
        <p>
            Důvodem vyhlášení dotačního programu je podpora zajištění kvalitní přípravy sportovců výpravy Krokových Varů na Hrách olympiády dětí a mládeže včetně nominačních závodů.
        </p>
        
        <a class="button" href="/downloads/podminky_dp.docx" download>Úplné znění podmínek dotačního programu</a>
        
    </article>

</div>