---
layout: layouts/layout-grant.njk
---

<aside class="aside">
    
    <div class="aside__form">

        <ul class="aside__form-list">
            <h3>Formuláře k dotaci</h3>
            <li><a href="/downloads/formular_zadosti.docx" download>Formulář žádosti</a></li>
            <li><a href="/downloads/financni_vyporadani.docx" download>Formulář finančního vypořádání</a></li>
        </ul>
        
    </div>

    <div class="aside__contact">

        <h3>Poradí vám</h3>
        {% include "partials/admins/admin-3.njk" %}

    </div>
    
</aside>

<div class="grant-content">

    <h1>Podpora údržby a obnovy sportovních zařízení</h1>
    
    <article>
    
        {% include "partials/grants-data/program-data.njk" %}
        
        <h2>Okruh způsobilých žadatelů</h2>
        <p>
            Žadatelem o dotaci může být spolek a pobočný spolek se sídlem v Krokových Varech, který má ve svých stanovách jako předmět realizace sportovní a tělovýchovné činnosti. Žadatelem může být i spolek s činností v oblasti kynologie. Žadatelem nemůže být územně samosprávný celek a jím zřizovaná a založená organizace.
        </p>
        
        <h2>Účel a důvod podpory</h2>
        <p>
            Dotační program se zřizuje za účelem podpory údržby a provozu sportovních zařízení a udržování a obnovy technických prostředků, strojů a zařízení sloužících k činnosti amatérských sportovních klubů, tělovýchovných a tělocvičných jednot.
        </p>
        
        <p>
            Důvodem podpory stanoveného účelu je zajištění povinnosti kraje vytvářet podmínky pro sport, zejména zabezpečovat rozvoj sportu pro všechny a přípravu sportovních talentů včetně zdravotně postižených občanů a zabezpečovat finanční podporu sportu ze svého rozpočtu.
        </p>
        
        <a class="button" href="/downloads/podminky_dp.docx" download>Úplné znění podmínek dotačního programu</a>
        
    </article>

</div>