---
layout: layouts/no-heading-layout.njk
title: Úvod
---
       
{% include "partials/news.njk" %}

{% include "partials/grants.njk" %}


<section class="section outer-padding tutorials">

    <h2>Návody a webináře</h2>

    <div class="tutorials__wrap">

        <div class="tutorials__image-block">
            <img src="/images/laptop-min.jpg" alt="Webinář u počítače">
        </div>

        <div class="tutorials__text">
    
            <p>Aby mohla být dotace poskytnuta, musí být žádost o poskytnutí dotace zpracována bez nedostatků. Podobně při finančním vypořádání dotace musí být dotace vyúčtována správně, jinak může být po příjemci požadováno vrácení dotace.</p>
    
            <p>Pojďme těmto chybám předcházet – k dispozici máte manuály a návody, které jsou zpravidla zpracovány formou online webinářů, s jejichž pomocí můžete při vyplňování dotačních formulářů postupovat krok za krokem z pohodlí svého domova.</p>
    
            <div class="tutorials__button-wrap">
                <a class="button tutorials__button" href="/navody/">Přejít na návody a manuály</a>
            </div>

        </div>
    </div>

</section>


<section class="section outer-padding promotion">

    <h2>Povinnost propagace loga</h2>

    <div class="promotion__wrap">

        <div class="promotion__image-block">
            <img src="/images/promotion-banner-min.jpg" alt="Propagace loga Krokových Varů">
        </div>
       
        <div class="promotion__text">
    
            <p>V případě poskytnutí dotace je povinnost propagovat logo Krokových Varů stanovena v podmínkách uzavřené dotační smlouvy.</p>
    
            <p>Způsobů, jak logo Karlovarského kraje propagovat, existuje celá řada a jsou uvedeny ve formuláři žádosti. V této sekci se s nimi podrobně seznámíte a zároveň si bezplatně stáhnete logo Krokových Varů pro využití na vašich webových stránkách, sociálních sítích apod.</p>
    
            <div class="promotion__button-wrap">
                <a class="button" href="/propagace/">Přejít na sekci propagace</a>
            </div>
        </div>

    </div>

</section>