---
layout: layouts/base-layout.njk
title: Kontakt
---


<h1 class="outer-padding contact-heading">Kontakt na zaměstnance podle agendy</h1>

<section class="outer-padding contact">

    <div class="contact__card">

        {% include "partials/admins/admin-boss.njk" %}
        <p>Agenda:</p>
        <ul>
            <li>individuální dotace</li>
        </ul>

    </div>
        
    <div class="contact__card">

        {% include "partials/admins/admin-2.njk" %}
        <p>Agenda:</p>
        <ul>
            <li>podpora sportovní činnosti</li>
            <li>podpora sportovní infrastruktury</li>
        </ul>

    </div>
    
    <div class="contact__card">
        
        {% include "partials/admins/admin-1.njk" %}
        <p>Agenda:</p>
        <ul>
            <li>podpora sportovních akcí</li>
            <li>podpora vrcholových sportovců</li>
        </ul>

    </div>
    
    <div class="contact__card">
        
        {% include "partials/admins/admin-3.njk" %}
        <p>Agenda:</p>
        <ul>
            <li>podpora údržby sportovišť</li>
            <li>podpora olympiády dětí a&nbsp;mládeže</li>
        </ul>
        
    </div>
    
</section>