<footer class="footer footer-padding">

    <div class="footer__flex">
        <div class="footer__flex-column">
            <img class="footer__logo" src="/images/fountain-new.png" alt="Logo Karlovarského kraje">
            <h3>Adresa</h3>
            <p>Krokovy Vary<br>
                Lázeňská 33/2<br>
                353 06 Krokovy Vary<br>
            </p>
            <p><span class="bold">Datová schránka:</span> 123456</p>
            <p><span class="bold">IČO:</span> 12345687</p>
        </div>

        <div class="footer__flex-column">
            <h3>Úřední hodiny včetně podatelny</h3>
            <table class="footer__table">
                <tr>
                    <td>Pondělí:</td>
                    <td class="footer__table-data">8:00 – 15:00</td>
                </tr>
                <tr>
                    <td>Úterý:</td>
                    <td class="footer__table-data">8:00 – 15:00</td>
                </tr>
                <tr>
                    <td>Středa:</td>
                    <td class="footer__table-data">8:00 – 15:00</td>
                </tr>
                <tr>
                    <td>Čtvrtek:</td>
                    <td class="footer__table-data">8:00 – 15:00</td>
                </tr>
                <tr>
                    <td>Pátek:</td>
                    <td class="footer__table-data">8:00 – 12:00</td>
                </tr>
                <tr></tr>
            </table>
        </div>
        
        <div class="footer__flex-column">
            <h3>Důležité odkazy</h3>
            <ul class="footer__links">
                <li><a href="/source/" target="_blank">Použitá grafika</a></li>
                <li><a href="https://www.kvarena.cz/ordinace-sportovniho-lekare-opet-v-nasem-arealu/" target="_blank">Ordinace sportovního lékaře</a></li>
                <li><a href="https://www.usneseni.cz/legislativa" target="_blank">Usnesení rady a zastupitelstva</a></li>
                <li><a href="https://www.cuscz.cz/" target="_blank">Česká unie sportu</a></li>
            </ul>
            <a href="/kontakt/" class="button">Kontakty na administrátory<br> dotačních programů</a>
        </div>

    </div>
    
</footer>