<section class="section outer-padding grants">

    <h2>Dotace</h2>

    <p>V detailech níže uvedených dotací najdete podrobné podmínky podpory včetně formulářů pro podání žádosti a finanční vypořádání dotace.</p>

    <p>Před podáním žádosti doporučujeme se podrobně seznámit s účelem podpory a ověřit si, zda spadáte do okruhu způsobilých žadatelů.</p>

    <p>Rovněž doporučujeme postupovat podle informací a webinářů v sekci <a href="/navody/"></a>Návody.</p>

    <p>Pokud si pořebujete prohlédnout výčet již schválených dotací, kliknete prosím na tlačítko:</p>

    <div class="grants__button">
        <a class="button grants__button-item" href="/dotace/schvalene/">Schválené dotace</a>
    </div>

</section>

<section class="section outer-padding grants--coloured grants">
    
    <div class="grants__list">

        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Sportovní činnost</h3>

                <div class="grants__icon">
                    <img src="/images/cycling.svg" alt="Ikona s cyklisty">
                </div>

                <p>
                    Dotační program na podporu celoroční sportovní činnosti sportovců všech věkových kategorií určený pro právnické osoby působící v oblasti sportu se sídlem v Krokových Varech.
                </p>
                <a class="button grants__link" href="/dotace/aktivity/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>

            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Sportovní akce</h3>

                <div class="grants__icon">
                    <img src="/images/race.svg" alt="Ikona běžeckého závodu">
                </div>

                <p>
                    Dotační program pro podporu sportovních akcí na území Krokových Varů. Podpora je určena pro právnické osoby a fyzické osoby podnikající, které působí v oblasti sportu.
                </p>
                <a class="button grants__link" href="/dotace/akce/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>

            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Vrcholoví sportovci</h3>

                <div class="grants__icon">
                    <img src="/images/hockey.svg" alt="Ikona s hokejisty">
                </div>

                <p>
                    Dotační program na podporu vrcholových sportovců na nejvyšší národní úrovni určený pro právnické osoby působící v oblasti sportu se sídlem v Krokových Varech. 
                </p>
                <a class="button grants__link" href="/dotace/vrcholovy-sport/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>
            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Údržba a sportovišť</h3>

                <div class="grants__icon">
                    <img src="/images/maintenance.svg" alt="Ikona s údržbou objektu">
                </div>

                <p>
                    Dotační program na podporu údržby sportovišť na území Krokových Varů. Z dotace lze pořídit investiční či neinvestiční vybavení pro sportoviště, zařídit potřebné opravy apod.
                </p>
                <a class="button grants__link" href="/dotace/udrzba/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>

            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Sportovní infrastruktura</h3>

                <div class="grants__icon">
                    <img src="/images/baseball.svg" alt="Ikona s baseballisty">
                </div>

                <p>
                    Dotační program na podporu sportovní infrastruktury určený pro právnické osoby se sídlem na území Krokových Varů, které se zabývají se pravidelnou činností dospělých ve vrcholovém sportu.
                </p>
                <a class="button grants__link" href="/dotace/infrastruktura/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>

            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Olympiáda dětí a mládeže</h3>

                <div class="grants__icon">
                    <img src="/images/trophy.svg" alt="Ikona s pohárem">
                </div>

                <p>
                    Dotační program na podporu právnických osob působících na území Krokových Varů, které zajišťují přípravu a nominaci pro příslušný sport v rámci výpravy na Hry olympiády dětí a mládeže.
                </p>
                <a class="button grants__link" href="/dotace/olympiada/">Podmínky dotačního programu</a>
                <p class="grants__deadline">Příjem žádostí byl ukončen.</p>

            </div>
            
        </div>
    
        <div class="grants__item">

            <div class="grants__inner-part">

                <h3>Individuální dotace</h3>

                <div class="grants__icon">
                    <img src="/images/form.svg" alt="Ikona s formulářem žádosti">
                </div>

                <p>
                    Pokud vaše žádost nesplňuje podmínky žádného z vyhlášených dotačních programů, můžete požádat o tzv. individuální dotaci. Individuální dotace slouží pro podporu účelu, který si žadatel stanoví sám v žádosti o poskytnutí individuální dotace.
                </p>
                <a class="button grants__link" href="/dotace/individualni/">Podmínky individuálních dotací</a>
                <p class="grants__deadline  grants__opened">Žádosti se přijímají průběžně po celou dobu kalendářního roku.</p>

            </div>
            
        </div>
        
    </div>

</section>