<header class="header">

    <div class="header__block">

        <img class="header__logo" src="/images/fountain-new.png" alt="Logo Krokových Varů">
        <span class="header__caption">Vítá vás</span>
        <h1 class="header__text">
            Dotační portál podpory sportu
            v Krokových Varech
        </h1>

    </div>
    
    <img class="header__image" src="/images/hand.png" alt="hand">

</header>