<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

    <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

    <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
        <li class="menu__item"><a href="/dotace/" class="menu__link">Dotace</a></li>
        <li class="menu__item"><a href="/navody/" class="menu__link">Návody</a></li>
        <li class="menu__item"><a href="/propagace/" class="menu__link">Propagace</a></li>
        <li class="menu__item menu__no-border"><a href="/kontakt/" class="menu__link ">Kontakt</a></li>
        <li class="menu__item menu__no-border"><a href="https://dotace.kr-karlovarsky.cz/gordic/ginis/app/RAP05/" class="menu__button" target="_blank">Portál žádostí</a></li>
    </ul>
    
</nav>