<section class="section outer-padding news">

    <h2>Aktuality</h2>

    <div class="news__block">

        <div class="news__content">
            <h3>Uzavírání smluv v programu na podporu údržby sportovišť</h3>
            <p>Právě probíhá podepisování a uzavírání smluv o poskytnutí dotací v tomto programu. Příjemci dotací se mohou dostavit ke splnění této povinnosti do kanceláře č. 1 během běžných otvíracích hodin úřadu. Pokud byste si přáli domluvit konkrétní čas nebo se k podpisu nemůžete dostavit osobně, kontaktujte nás prosím prostřednictvím kontaktních údajů, které naleznete v sekci <a href="/kontakt/">Kontakt</a>.</p>
        </div>
    
        <div class="news__content">
            <h3>Uzavírání smluv v ostatních dotačních programech</h3>
            <p>I nadále probíhá podepisování a uzavírání smluv o poskytnutí dotací v dalších programech. Příjemci dotací se mohou dostavit ke splnění této povinnosti do kanceláře č. 1 během běžných otvíracích hodin úřadu. Pokud byste si přáli domluvit konkrétní čas nebo se k podpisu nemůžete dostavit osobně, kontaktujte nás prosím prostřednictvím kontaktních údajů, které naleznete v sekci <a href="/kontakt/">Kontakt</a>.</p>
        </div>
        
    </div>

</section>