<h2>Termíny individuálních žádostí</h2>

<div class="program-data">
   
    <div class="program-data__item program-data__individual">

        <img class="program-data__icon" src="/images/calendar-icon.png" alt="Ikona kalendáře">

        <div class="program-data__text">
            <h4>Příjem žádostí</h4>
            <p>Žádosti o individuální dotaci lze podávat v průběhu celého roku</p>
        </div>

    </div>

</div>


<h2>Termíny při finančním vypořádání dotace</h2>

<div class="program-data">
   
    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-icon.png" alt="Ikona kalendáře">

        <div class="program-data__text">
            <h4>Povinnost vyčerpat prostředky</h4>
            <p>od 31. 12. 2023</p>
        </div>

    </div>

    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-clock-icon.png" alt="Ikona kalendáře s hodinami">

        <div class="program-data__text">
            <h4>Povinnost doložit finanční vypořádání</h4>
            <p>do 31. 1. 2024</p>
        </div>
        
    </div>

</div>