<h3>Termíny žádostí o poskytnutí dotace</h3>

<div class="program-data">
   
    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-icon.png" alt="Ikona kalendáře">

        <div class="program-data__text">
            <h4>Zahájení příjmu</h4>
            <p>od 18. 10. 2022 od 9.00 hodin</p>
        </div>

    </div>

    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-clock-icon.png" alt="Ikona kalendáře s hodinami">

        <div class="program-data__text">
            <h4>Ukončení příjmu</h4>
            <p>do 25. 10. 2022 do 15.00 hodin</p>
        </div>

    </div>

</div>


<h3>Termíny při finančním vypořádání dotace</h3>

<div class="program-data">
   
    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-icon.png" alt="Ikona kalendáře">
        <div class="program-data__text">
            <h4>Povinnost vyčerpat<br> prostředky</h4>
            <p>od 31. 12. 2023</p>
        </div>

    </div>

    <div class="program-data__item">

        <img class="program-data__icon" src="/images/calendar-clock-icon.png" alt="Ikona kalendáře s hodinami">
        <div class="program-data__text">
            <h4>Povinnost doložit <br>finanční vypořádání</h4>
            <p>do 31. 1. 2024</p>
        </div>
        
    </div>

</div>