<div class="contact-admin">

    <img class="contact__icon" src="/images/avatar-man2.png" alt="Ikona muže">
    <p class="contact__name">Ing. Emanuel Boss</p>
    <p class="contact__name--light">vedoucí oddělení</p>
    <p>tel. <a href="tel:+420123456789">123 456 789</a></p>
    <p>e-mail: <a href="mailto:frantaomacka@bezemailu.cz">emanuelboss@bezemailu.cz</a></p>
    
</div>
