<div class="contact-admin">

    <img class="contact__icon" src="/images/avatar-woman.png" alt="Ikona ženy">
    <p class="contact__name">Mgr. Krasomila Opičková</p>
    <p>tel. <a href="tel:+420123456789">123 456 789</a></p>
    <p>e-mail: <a href="mailto:frantaomacka@bezemailu.cz">krasomilaopickova@bezemailu.cz</a></p>
    
</div>