<div class="contact-admin">

    <img class="contact__icon" src="/images/avatar-man3.png" alt="Ikona muže">
    <p class="contact__name">Bc. Miloš Opička</p>
    <p>tel. <a href="tel:+420123456789">123 456 789</a></p>
    <p>e-mail: <a href="mailto:frantaomacka@bezemailu.cz">milosopicka@bezemailu.cz</a></p>
    
</div>